<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div style="margin-top:-20px" class="container">
            <div style="display: flex;justify-content:space-evenly;align-items: center;">

                <div class="footer-contact">
                    <h3><strong>VIT Bhopal University</strong></h3>
                    <p style="word-wrap: normal;margin-right:5em">
                        Bhopal-Indore Highway <br>
                        Kothrikalan, Sehore <br>
                        Madhya Pradesh – 466114 <br>
                        Phone: +91 75 6025 4500 / 501 / 502 <br>
                    </p>
                </div>

                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://twitter.com/Bit_by_Bit_vitb" class="twitter"><i class="fab fa-twitter"></i></a>

                    <a href="https://www.youtube.com/channel/UC5NxwEMrVibp7gAApZFUArw" class="youtube"><i
                            class="fab fa-youtube"></i></a>

                    <a href="https://www.instagram.com/bitbybit_vitb?r=nametag" class="instagram"><i
                            class="fab fa-instagram"></i></a>

                    <a href="https://www.linkedin.com/company/bit-by-bit-club" class="linkedin"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://discord.gg/qKkFQGUVF4" class="linkedin"><i class="fab fa-discord"></i></a>
                </div>

            </div>

        </div>
    </div>

    <div class="container">

        <div style="text-align: center; margin: 20px;" class="Copyright">
            &copy; Copyright <strong><span>Bit By Bit Club</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<!-- AOS JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/purecounter/purecounter.js"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/Home_Page/assets/js/main.js"></script>

<!-- EVENTS PAGE  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Validator JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.6.0/validator.min.js"
    integrity="sha512-xYHcfaQeUiKHs9YsHqjpyLaHnh+q7y8kYuOGdh5FkJeK7Z+dZct7Yoa7h+PtsrKRh03t8eJZuSeCN7b0dkrFwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- BOOTSTRAP JS -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>