<%- include('./partials/header.ejs') %>
    <section style="height: 80vh;">
        <div class="container">
            <h1 class="text-center small-h1"
                style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">To
                Be
                Announced
                Soon...
                <a href="/events/pbs1"><button class="btn btn-dark btn-outline-light download-button" type="button">
                        < Back </button></a>
            </h1>

        </div>
    </section><!-- End About Section -->


    <%- include('./partials/footer.ejs') %>