<%- include('./partials/header.ejs') %>
  <!-- Load jQuery early for carousel -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link href="/Home_Page/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/Home_Page/assets/css/events.css">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <div class="mb-4">
            <img src="Home_Page/assets/img/apple-touch-icon.png" width="100px" height="100px">
          </div>
          <h1 id="head-text"></h1>
          <h2>Every code is an opportunity to make a difference</h2>
        </div>
      </div>
      <div style="margin-top:30px" class="text-center">
        <a href="https://forms.gle/SiPwdwXjz5pqjUxV6" class="btn-get-started scrollto">Join Core Team</a>
      </div>
    </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section>
      <div class="row justify-content-center">
        <div id="aboutus" class="col-xl-7 col-lg-7 text-center">
          <h1 class="small-h1">About Us</h1>
          <p style="font-size: 14px;">
            The “Bit By Bit” student coding club aims to help young aspirants follow a practical-based learning
            path
            and provide them with abundant educational opportunities through Interactive workshops, coding
            competitions, training camps, and other exhilarating activities ensuring each member of the team
            gain
            unparalleled coding experience and knowledge. <br><br>
            The student members and faculties truly believe in developing and inculcating a strong competitive
            programming culture among young programmers.The club aims to help its student members acquire
            knowledge of
            cutting-edge technologies along with gaining crucial interpersonal values in order for them to
            become
            proficient and versatile computer programmers.
          </p>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Choose Us</h2>
          <p>There are three principal means of acquiring knowledge - observation of nature, reflection, and
            experimentation.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                  </path>
                </svg>
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4><a href="">OBJECTIVE</a></h4>
              <p>The club envisions to strengthen coding skills among undergrads pursuing Computer Science by providing
                individual as well as peer-to-peer learning environment.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426">
                  </path>
                </svg>
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="">INTERACTIVE SESSIONS</a></h4>
              <p>Facilitating the hands-on learning approach, regular coding competitions, workshops and hackathons are
                organized with frequent jamming sessions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781">
                  </path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="">MENTOR WORKSHOPS</a></h4>
              <p>Experts in the field of Computer Sciences are invited to conduct workshops and deliver their ideologies
                to enlighten the students about the upcoming tech trends and careers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why choose us Section -->

    <!-- ======= Events Section ======= -->
    <section id="events_section">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="event_heading small-h1">Events</h2>
        </div>
        <div id="carouselIndicator" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/events/winter-wondertech">
                <img class="d-block w-100" src="/Home_Page/assets/img/event/winterWondertech.png" alt="First slide">
              </a>
            </div>
            <div class="carousel-item">
              <a href="/events/pbs1">
                <img class="d-block w-100" src="/Home_Page/assets/img/event/pbs.png" alt="First slide">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Project Building Series</h5>
                  <p>Schedule</p>
                </div> -->
              </a>
            </div>
            <div class="carousel-item">
              <a href="/events/bitwars">
                <img class="d-block w-100" src="/Home_Page/assets/img/event/bitwars_poster.png" alt="Second slide">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Bitwars</h5>
                  <p>09th and 10th October</p>
                </div> -->
              </a>
            </div>
            <div class="carousel-item">
              <a href="/events/htmlcssbootcamp">
                <img class="d-block w-100" src="/Home_Page/assets/img/event/thumbnail.jpeg" alt="Third slide">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>HTML CSS Bootcamp</h5>
                  <p>25th - 26th September</p>
                </div> -->
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <i class="fas fa-chevron-left carousel-control-prev-icon" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <i class="fas fa-chevron-right carousel-control-prev-icon" aria-hidden="true"></i>
            <!-- <i class="fas fa-chevron-right"></i> -->
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- End Events Section -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>A team with straight forward vision, thinkers of creative ideas, and dedicated to creating a good kickoff
            experience.</p>
        </div>

        <div style="display: flex; justify-content: center;" class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="Home_Page/assets/img/team/team-1.png" class="img-fluid" alt="">
                <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
              </div>
              <div class="member-info">
                <h4>Dr. Nidhi Mishra</h4>
                <span>Faculty Coodinator</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="Home_Page/assets/img/team/team-2.jpeg" class="img-fluid" alt="">
                <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
              </div>
              <div class="member-info">
                <h4>Muskaan Singh</h4>
                <span>President</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="Home_Page/assets/img/team/team-3.jpeg" class="img-fluid" alt="">
                <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
              </div>
              <div class="member-info">
                <h4>Piyush Chaudhary </h4>
                <span>Vice-President</span>
              </div>
            </div>
          </div>
        </div>

        <div style="display: flex; justify-content: center;">
          <div style="display: flex; justify-content: center;" class="col-lg-3 col-md-6 d-flex align-items-center mt-4"
            data-aos="fade-up" data-aos-delay="100">
            <a href="/team"><button type="button" class="btn btn-primary btn-lg">View Team</button></a>
          </div>
        </div>
      </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= About Section ======= -->
    <section id="contact-us" style="font-size: 16px;">
      <div class="container" data-aos="fade-up">

        <div>
          <div style="width:60%;margin:20px auto;text-align:center;">
            <h2>Contact Us</h2>
            <p>Have any queries or suggestions? Drop em' here</p>
          </div>

          <div class="contact-us">
            <form autocomplete="off" onsubmit="submitForm()" name="contact-form" action="/contactForm" method="post">

              <!-- id="user-name" placeholder="Enter Name" -->
              <div>
                <input type="text" id="fullname" name="fullname" placeholder="Enter Name" size="40">
              </div>

              <!-- id="user-email" placeholder="Email Address" -->
              <div>
                <input type="email" id="email" name="email" placeholder="Enter Email" size="40">
              </div>

              <!--  id="user-query" placeholder="Write Query" -->
              <div>
                <input type="text" id="feedback" name="feedback" placeholder="Write Query" size="40">
              </div>

              <div>
                <button id="submitBtn" type="submit" class="btn btn-primary">Send Query</button>
              </div>

            </form>

            <script>
              function submitForm(e) {
                let frm = document.getElementsByName('contact-form')[0];

                let name = document.getElementById('fullname').value;
                let email = document.getElementById('email').value;
                let feedback = document.getElementById('feedback').value;



                if (name.length === 0 || email.length === 0 || feedback.length === 0) {
                  alert("All input fields required!");
                  e.preventDefault();
                } else {
                  setTimeout(() => {
                    alert("Feedback submitted Successfully!"), 1500
                  });
                  frm.submit();
                }
              }
            </script>
          </div>

        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <%- include('./partials/footer.ejs') %>
