<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="/pbs/css/pbs1.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<!-- Header -->
<header
  class="w3-container w3-center header-section"
  style="padding: 100px 16px"
>
  <class class="head-img">
    <img class="header-img"
      src="https://images.squarespace-cdn.com/content/v1/5e9e61184a2e5f4b613d5853/1589203333135-LLNIKB08AXJFYQ29N7SM/AI.gif"
      alt=""
    />
  </class>
  <h1 style="color: white; " class="w3-margin header-text ">
    ML Face Recognition Workshop
  </h1>
  <p style="color: white" class="w3-xlarge">
    Attend the Most Awaited Workshop: 27th - 28th NOVEMBER
  </p>
  <a
    href="https://forms.gle/hGu8RpxBccxCheG5A"
    ><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
      Submit Your Project
    </button></a
  >
</header>

<!-- about -->

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About Workshop</h1>
      <h5 class="w3-padding-32">
        Welcome to part-1 of the Project Building Series: the Face Recognition
        using ML workshop. This is a 2-day workshop that will be held on the
        27th and 28th November, 2021 which will focus on building a face
        recognition model using machine learning. You will also learn about ML,
        its uses and significance as well as some python libraries during the
        course of this workshop.
      </h5>

      <h5 class="w3-text-grey">
        You get to work with different softwares and platforms like GitHub and
        Google Collab as well. Also you can earn certificates and chance to win
        coding block coupons. So what are you waiting for? Register yourselves
        right now to be able to attend the event.
      </h5>
    </div>
    <div class="w3-third w3-center">
      <img class="ml-5" width="340px" src="/pbs/img/pbs.png" alt="img" />
    </div>
  </div>
</div>
<div class="w3-row-padding  speaker-d">
  <div class="w3-content">
    <h1 class="my-5" style="text-align: center">About Speaker</h1>
    <div class="speaker-div py-5">
      <div class="w3-center">
        <img
          class="mentor-img"
          style="text-align: center"
          
          src="/pbs/img/mentor.jpg"
          alt="img"
        />
      </div>

      <h3 class="py-3" style="text-align: center">PRINCEY YADAV</h3>

      <h5 class="px-5 w3-text-grey speaker-details" style="text-align: center">
        Princey Yadav is a post graduate from IIIT Delhi and did her graduation
        from NSIT Delhi. She is a mentor at Coding Blocks. She has prior
        experience as a Software Engineer and has done research in the field of
        Computational Biology. Her interests include Machine learning, Data
        science and Game development.<br /><br />
        <a href="https://linkedin.com/in/princey-yadav-7a1b521a2"
          ><i style="color: rgba(13, 117, 253, 0.795);" class="fab fa-linkedin fa-2x"></i
        ></a>
      </h5>
    </div>
  </div>
</div>
<br /><br /><br />

<!-- Start: Schedule -->
<div class="container-fluid">
  <div class="row me-row schedule" id="schedule">
    <br /><br />
    <h2 class="row-title content-ct">Event Schedule</h2>
    <div class="col-md-12">
      <br />
      <!-- Nav tabs -->
      <ul style="margin: 0 40px" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#day-1" aria-controls="home" role="tab" data-toggle="tab"
            >Day 01
            <small class="hidden-xs">(27<sup>th</sup>, November)</small></a
          >
        </li>
        <li role="presentation">
          <a href="#day-2" aria-controls="profile" role="tab" data-toggle="tab"
            >Day 02
            <small class="hidden-xs">(28<sup>th</sup>, November)</small></a
          >
        </li>
        <!-- <li role="presentation"><a href="#day-3" aria-controls="messages" role="tab" data-toggle="tab">Day
                        03
                        <small class="hidden-xs">(02<sup>nd</sup>, October)</small></a></li> -->
      </ul>

      <!-- Tab panes -->
      <div style="margin: 0 40px" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="day-1">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/intro.jpg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">04:00pm to 04:30pm</h4>
                  <h5>INTRODUCTION TO THE SPEAKERS</h5>
                  <p>
                    All the dedicated speakers will be introduced before the
                    project building series workshop begins. A thoughtful and
                    helpful introduction will be delivered.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/MLapplication.jpg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">04:30pm to 05:00pm</h4>
                  <h5>MACHINE LEARNING APPLICATIONS</h5>
                  <p>
                    Before diving into the practical application we’ll look at
                    some real time applications of Machine Learning and
                    understand what power does this emerging tech hold.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/MLoverview.png"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">05:00pm to 06:00pm</h4>
                  <h5>ML BASIC OVERVIEW</h5>
                  <p>
                    Now that we’ve looked at some application, we’ll further
                    understand the concept of machine learning and get
                    acquainted to the platforms that we’ll be working on.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="day-2">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/python.png"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">04:00pm to 4:30pm</h4>
                  <h5>PYTHON BASICS</h5>
                  <p>
                    Working with machine learning requires a good hold of the
                    python language. Here we’ll learn about some of these
                    concepts and libraries that we are going to work with.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/faceRecognition.jpg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">04:30pm to 05:30pm</h4>
                  <h5>FACE RECOGNITION PROJECT</h5>
                  <p>
                    We’ll begin with our project by making a face recognition
                    model. For this we’ll be adding squares on model and human
                    images to run and test the project.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/pbs/img/github.jpg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">05:30pm to 06:00pm</h4>
                  <h5>PUSHING ON GITHUB</h5>
                  <p>
                    It is very important to keep your GitHub profile updated
                    with new projects and other similar things that you are
                    working on. Here we will learn how to push your Face
                    Recognition Project onto a GitHub repository.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="day-3">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object"
                      src="/Event_Page/img/submission.jpg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Due 11:59 pm</h4>
                  <h5>PORTFOLIO PROJECT SUBMISSION</h5>
                  <p>
                    The submission link will be provided in which all the
                    participants have to submit their portfolio project. Result
                    will be declared on <b>5th of October</b>. Winners will get
                    coupons from Coding Blocks, certificates along with our
                    exclusive club points "BITS". Participation certificates for
                    everyone who registers for the event.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<!-- End: Schedule -->

<center>
  <a href="/events/announcedSoon"><button class="btn btn-dark btn-outline-light download-button mx-3" type="button">
    <i class="fab fa-lg fa-android"></i> PBS 2
  </a></button>
  <a href="/events/announcedSoon"><button class="btn btn-dark btn-outline-light download-button mx-3" type="button">
    <i class="fas fa-lg fa-gamepad"></i> PBS 3</a>
  </button>
</center>
<br /><br />

<%-include("./partials/footer.ejs")%>
