<%- include('./partials/header.ejs') %>
  <!-- Template Main CSS File -->
  <link href="/Team_Page/assets/css/style.css" rel="stylesheet">

  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    div.sub-title {
      padding: 35px 70px 50px;
    }
  </style>

  <main id="main">
    <!-- ======= Team Section ======= -->
    <!-- ======= CLUB TEAM FAQ Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>CORE TEAM</h2>
          <img src="/Team_Page/assets/img/team/team_page_banner.png" class="img-fluid" alt="team work image"
            style="width:auto;height:400px;">
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">WEBSITE DEVELOPMENT TEAM <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <!-- ======= Web Team Section ======= -->
                <section id="team" class="team section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>Web Development Team</h2>
                      <p>Time to meet the Full Stack Geeks! The Web Development Team comes with the complete package
                        right from building the frontend from scratch to deploying interactive websites and web
                        applications. </p>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_akshra.jpg" class="img-fluid" alt="Akshra">
                            <div class="social">
                              <a href="https://www.instagram.com/akshra.shara/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/akshra-singh-bb8077190/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Akshra Singh</h4>
                            <span>Team Leader</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_kunal.jpeg" class="img-fluid" alt="Kunal">
                            <div class="social">
                              <a href="https://www.instagram.com/kunal_2020/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/kunal-chandra-251115146" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Kunal Chandra</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_rishita.jpeg" class="img-fluid" alt="Rishita">
                            <div class="social">
                              <a href="https://www.instagram.com/rishita_511/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/rishita-srivastava11/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Rishita Srivastava</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_yogita.jpeg" class="img-fluid" alt="Yogita">
                            <div class="social">
                              <a href="https://www.instagram.com/yogitabhardwaj28/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="www.linkedin.com/in/yogita-bhardwaj/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Yogita Bhardwaj</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="20">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_devanshu.jpeg" class="img-fluid" alt="Devanshu">
                            <div class="social">
                              <a href="https://www.instagram.com/devanshuyadav16/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/devanshu-yadav-1635991b4/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Devanshu Yadav</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="30">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/web_anurag.png" class="img-fluid" alt="Anurag">
                            <div class="social">
                              <a href="https://www.instagram.com/d.17012002/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/anurag-singh-41526b1ba/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Anurag Kumar</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </section> <!-- ======= END Web Team Section ======= -->
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="10">
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">CONTENT TEAM <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <!-- ======= Content Team Section ======= -->
                <section id="team" class="team section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>CONTENT TEAM</h2>
                      <p>Say hello to the Content Writing Team. These wizards take the complexity out of logic and
                        language. We are passionate about making the content easier to read, transferrable, and a
                        delight for our audience. From being your programming partner to getting your latest tech
                        trends, we have got you covered!</p>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_harsh.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/harshpailkar/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/harsh-pailkar-388aa21ba/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Harsh Pailkar</h4>
                            <span>Team Leader</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_sonal.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/sonallll.l/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/sonal-kumari-4449a1190/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Sonal Kumari</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_dev.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/devaredevaaaaa/?hl=en" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/dev-khandelwal-1398711ba" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Dev Khandelwal</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_arundhati.jpeg" class="img-fluid" alt="">
                            <div class="social">

                              <a href="http://www.linkedin.com/in/arundhati-menon-3b4524208" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Arundhati Menon</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_vridhi.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://instagram.com/vridhipurii?utm_medium=copy_link" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/vridhi-puri-375458208" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Vridhi Puri</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_nisha.jpeg" class="img-fluid" alt="">
                            <div class="social">

                              <a href="https://www.linkedin.com/in/nisha-prakash-2880321ba" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4> Nisha Prakash</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/content_subh.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/subh__2111/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/subh-chaturvedi/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4> Subh Chaturvedi</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>
                <!-- ======= END Content Team Section ======= -->


            <li data-aos="fade-up" data-aos-delay="20">
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">DESIGN TEAM <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <!-- ======= Design Team Section ======= -->
                <section id="team" class="team section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>DESIGN TEAM</h2>
                      <p>The talented group of artistic geniuses, the design team is highly skilled and backed by
                        top-notch skillsets, all geared up to make the learning experience 10X better! Our Design Team
                        grinds for inspiration and imbues our creations with intangible magic. Channelizing our complete
                        potential, we create designs that may leave you awestruck!</p>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_ayushi.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/aayu__0099?r=nametag" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/ayushi-sadani-94611a20b" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Ayushi Sadani</h4>
                            <span>Team Leader</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_anushka.jpeg" class="img-fluid" alt="Rushil">
                            <div class="social">
                              <a href="https://www.instagram.com/anushka__0912/"><i class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/anushka-patel-216a961b0"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Anushka Patel</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_adarsh.jpeg" class="img-fluid" alt="Rushil">
                            <div class="social">
                              <a href="https://www.instagram.com/adarsh_jha1611/"><i class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/adarsh-jha-2213601ab"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Aadarsh Jha</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_ushma.jpeg" class="img-fluid" alt="Ushma">
                            <div class="social">
                              <a href="https://www.instagram.com/guptaushma/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/guptaushma/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Ushma Gupta</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_jaya.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/jaya_pandey20?r=nametag" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/jaya-pandey-64101320a" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Jaya Pandey</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/design_garima.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/garima_khare._?r=nametag" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/garima-khare-37a484207" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Garima Khare</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </section> <!-- ======= END Design Team Section ======= -->
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="30">
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">SOCIAL MEDIA TEAM <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <!-- ======= Social Team Section ======= -->
                <section id="team" class="team section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>SOCIAL MEDIA TEAM</h2>
                      <p>Social media folks? The face of our social presence brings new media and exceptional
                        presentation skills together to create wonders. We are a team of experts who organize
                        interactive sessions and brings inspiration, know-how, and a whole lot of fun to one spot! </p>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_ahmed.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/s.ahmed_shah/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/syed-ahmed-hussain-361721209" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Syed Ahmed Hussain</h4>
                            <span>Team Leader</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_harshit.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/harshitarora.307/"><i class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/harshit-arora-53aab7193/"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Harshit Arora</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_kirti.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://instagram.com/kirti_poddar151?utm_medium=copy_link" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/kirti-poddar-3242221b8" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Kirti Poddar</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_kritick.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://instagram.com/kritickkkk?utm_medium=copy_link" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/kritick-nayak" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Kritick Nayak</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_sejal.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/sejal_shhh/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/sejal-shrivastava-b6086a21b" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Sejal Shrivastava</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/social_oishi.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/oishi._.basak/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/oishi-basak-7b5620209/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Oishi Basak</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </section><!-- ======= END social Team Section ======= -->
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="40">
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">EVENT MANAGEMENT TEAM <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <!-- ======= Event Team Section ======= -->
                <section id="team" class="team section-bg">
                  <div class="container" data-aos="fade-up">

                    <div class="section-title">
                      <h2>EVENT MANAGEMENT TEAM</h2>
                      <p>There are always a lot of moving parts when it comes to planning an event. Just remember not to
                        stress too much. Take it easy, and the Event Management team will make sure everything goes
                        smoothly.</p>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_adhishta.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/adhishta_02/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/adhishta-sharma-714b131b6/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Adhishta Sharma</h4>
                            <span>Team Leader</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_elisha.jpg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/elisha__singh/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/elisha-singh-4649341a4" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Elisha Singh</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_aryan.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/aryan.sri_31/ " target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/aryan-srivastav-676117139" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Aryan Srivastav</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_soumya.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/soumyaaspeak" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/soumyaa-99" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Soumya Mehta</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_ishita.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/ishita_agarwal_10/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/ishita-agarwal-859720209/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Ishita Agarwal</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_abhinay.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/abhinaygarg8/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/abhinay-garg-2a3879201/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4>Abhinay Garg</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="member-img">
                            <img src="/Team_Page/assets/img/team/event_atul.jpeg" class="img-fluid" alt="">
                            <div class="social">
                              <a href="https://www.instagram.com/_atulsharma13_/" target="_blank"><i
                                  class="bi bi-instagram"></i></a>
                              <a href="https://www.linkedin.com/in/atul-sharma-7501931a0/" target="_blank"><i
                                  class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <h4> Atul Sharma</h4>
                            <span>Core Team Member</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </section><!-- ======= END event Team Section ======= -->
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End CLUB TEAM FAQ Section -->
    <!-- End Team Section -->
  </main><!-- End #main -->

  <!-- Template Main JS File -->
  <script src="/Team_Page/assets/js/main.js"></script>
  <%- include('./partials/footer.ejs') %>