<%- include('./partials/header.ejs') %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="/winter-wondertech/winter-wondertech.css" />
  <header class="w3-container w3-center header-section mt-5" style="padding: 100px 16px">
    <class class="head-img"><br><br>
      <img id="header-img" src="https://www.animatedimages.org/data/media/359/animated-santa-claus-image-0420.gif"
        alt="" />
    </class>
    <h1 style="color: white;" class="w3-margin w3-xxxlarge">Winter WonderTech</h1>
    <p style="color: white" class="w3-xlarge">
      This winter, take the time to chase the code flakes: 21<sup>st</sup> -
      24<sup>th</sup>
      December
    </p>
    <!-- <a class="register-now" href="https://forms.gle/sX1U55LR5tuJjBes5"><button class="btn btn-lg btn-outline-light">
        Register Now <i class="fas fa-holly-berry"></i></button></a> -->
  </header>
  <div class="w3-container slant-div1"></div>

  <!-- about -->

  <div class="w3-row-padding w3-padding-63 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h2 class="row-title">About WonderTech</h2>
        <h5 class="w3-padding-32">
          Winter wonder tech is an astounding and spectacular opportunity for
          coders and programmers to learn and showcase their skillset this holiday
          season. Jampacked with interactive sessions and synergistic
          competitions, winter wonder tech is truly a seasonal occasion. Exchange
          of irrefutable knowledge by experts and collaborative, interactive and
          lively tasks will adorn the 4-day workshop.
        </h5>

        <h5 class="w3-text-grey">
          From game development workshops to discussion on career prospects, this
          Christmas season will ignite the sparks of knowledge and help you shine
          through the crowd as a brilliant coder and developer.
        </h5>
      </div>
      <div class="w3-third w3-center">
        <br />
        <img class="ml-5" width="320px" src="/winter-wondertech/img/mascot.jpeg" alt="img" />
      </div>
    </div>
  </div>
  <br />

  <!-- Perks of the event -->
  <div class="w3-container slant-div2"></div>
  <div class="w3-container perks">
    <br />
    <h2 id="schedule-heading" class="row-title text-center">
      Perks of the Event
    </h2>

    <div class="row me-row content-ct mx-auto">
      <br />
      <div class="col-md-6 col-sm-6">
        <h3><i class="fas fa-gift fa-2x"></i></h3>
        <p>
          Mentors from Coding Blocks would give insights to the students into the
          coding culture and also talk about the upcoming careers and placements.
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h3><i class="fas fa-candy-cane fa-2x"></i></h3>
        <p>
          Participation certificates, coupons from Coding Blocks, BITS, swags &
          much more
        </p>
        <br /><br />
      </div>
    </div>
  </div>
  <div class="w3-container slant-div3"></div>

  <!-- Start: Speakers -->
  <div class="container">
    <h2 id="schedule-heading" class="row-title text-center">Speakers</h2>
    <div class="row content-ct speaker">
      <div class="col-md-3 col-sm-12 feature">
        <img src="/winter-wondertech/img/mayank.jpeg" class="speaker-img" />
        <h3>Mayank</h3>
        <p class="speaker-p">
          Mayank is a Fullstack Developer who loves Competitive coding to the
          heart. He is very well versed with technologies like Javacript and
          Node.js and has experience with various startups. His love for
          enigmatomy and CP (Competitive Coding) helps him create and solve
          puzzles in his free time. He is always up for learning new technologies
          that are trending in the world.
        </p>
        <ul class="speaker-social">
          <li>
            <a href="https://www.linkedin.com/in/kartik-mathur/"><i class="fab fa-linkedin fa-8x"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 feature">
        <img src="/winter-wondertech/img/princey.jpeg" class="speaker-img" />
        <h3>Princey Yadav</h3>
        <div>
          <p class="speaker-p">
            Princey Yadav is a post graduate from IIIT Delhi and did her
            graduation from NSIT Delhi. She is a mentor at Coding Blocks. She has
            prior experience as a Software Engineer and has done research in the
            field of Computational Biology. Her interests include Machine
            learning, Data science and Game development.
          </p>
        </div>
        <ul class="speaker-social">
          <li>
            <a href="https://www.linkedin.com/in/princey-yadav-7a1b521a2/"><i class="fab fa-linkedin fa-8x"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 feature">
        <img src="/winter-wondertech/img/praveen.jpeg" class="speaker-img" />
        <h3>Praveen Kumar</h3>
        <div>
          <p class="speaker-p">
            A motivated competitive coder, he is a software engineer at Cadence
            Design Systems. He has graduated from NIT, Kurukshetra and is on the
            constant lookout for opportunities to learn new skills and contribute.
            His skills include Object Oriented Programming , Data Structures &
            Algorithms, Python and SQL.
          </p>
        </div>
        <ul class="speaker-social">
          <li>
            <a href="https://www.linkedin.com/in/praveentech/"><i class="fab fa-linkedin fa-8x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />

  <!-- Start: Schedule -->
  <div class="container">
    <br />
    <div class="row schedule" id="schedule">
      <h2 id="schedule-heading" class="row-title content-ct">Event Schedule</h2>
      <br /><br />
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" style="margin-right: 12px" href="#day-1" aria-controls="home" role="tab"
              data-toggle="tab">
              Day 01 <small>(21<sup>st</sup>, December)</small>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#day-2" aria-controls="profile" role="tab" data-toggle="tab">
              Day 02 <small>(22<sup>nd</sup>, December)</small>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#day-3" aria-controls="profile" role="tab" data-toggle="tab">
              Day 03 <small>(23<sup>rd</sup>, December)</small>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#day-4" aria-controls="profile" role="tab" data-toggle="tab">
              Day 04 <small>(24<sup>th</sup>, December)</small>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show" id="day-1">
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object"
                        src="https://png.pngtree.com/png-clipart/20200629/ourlarge/pngtree-ribbon-cutting-ceremony-for-elegant-ribbon-opening-ceremony-png-image_2267010.jpg"
                        alt="..." />
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">06:00pm to 08:00pm</h4>
                    <h5>OPENING CEREMONY</h5>
                    <p style="width: 90%">
                      All the participants will be addressed by Kartik Mathur Sir,
                      founding member at Coding Blocks and also the Academics
                      Head. He will have a brief discussion about the coding
                      orientation and the Interview prep talks with all the
                      participants. Be sure to join in and get a hold of some
                      really important and interesting topics.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="iframe-container">
                    <iframe src="https://www.youtube.com/embed/cUuA4ivKzxM?" title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="day-2">
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" src="/winter-wondertech/img/Game_Development.png" alt="..." />
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">06:00pm to 08:00pm</h4>
                    <h5>GAME DEVELOPMENT WORKSHOP</h5>
                    <p style="width: 100%">
                      Game Development is such an interesting topic. Working with
                      a virtual world, building new characters and awesome
                      gameplays, sounds so cool right!? So, we've arranged a
                      coding blocks mentor to guide you through a 2 hour-long
                      hands-on game development workshop. You'll get to know how
                      the gaming world is created and what all coding goes behind
                      creating the amazing virtual worlds we see
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="iframe-container">
                    <iframe src="https://www.youtube.com/embed/-sm8VmgjdIg" title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="day-3">
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" src="/winter-wondertech/img/santa.jpg" alt="..." />
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">06:00pm to 8:00pm</h4>
                    <h5>SANTA GOT HACKED</h5>
                    <p style="width: 100%">
                      Santa has caught the radar of those pesky hackers. The
                      participants will contend in this Christmas themed
                      competition filled with various exciting and fun tasks in
                      order to protect Santa and save Christmas. The first 50
                      participants will also be provided with points.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="iframe-container">
                    <img width="500px" src="/winter-wondertech/img/day3.png" alt="day3-img">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="day-4">
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" src="/winter-wondertech/img/closing.jpg" alt="..." />
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">04:00pm to 06:00pm</h4>
                    <h5>BIT TALKS</h5>
                    <p style="width: 100%">
                      The event will come to a satisfying end with Praveen Kumar
                      delivering a BIT TALKS session on Career Development. It is
                      fitting for the participants to take home the advice and
                      tips from Praveen on this festive occasion. He will also
                      announce the winners of the previous competitions.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="iframe-container">
                    <iframe src="https://www.youtube.com/embed/gFJTjb_QAGA" title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="">
                      <img class="media-object" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- End: Schedule -->
  <%- include('./partials/footer.ejs') %>